@import './variables.scss';
@import './mixin.scss';
@import './reset.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './layout.scss';
@import './btn.scss';
html,
body {
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
}

.no-padding {
  padding: 0px !important;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.text-center {
  text-align: center
}
